name: build openwrt SDK

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Openwrt Version(v24.10.4)'
        required: false
        default: 'v24.10.4'
      rebuild:
        description: 'Rebuild SDK'
        required: false
        default: 'false'

permissions:
  contents: write

jobs:
  build:
    name: build(${{ matrix.target }})
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        target: [x86_64]

    steps:
      - name: Checkout
        uses: actions/checkout@main

      - name: 检查服务器配置
        run: |
          echo "警告⚠"
          echo "分配的服务器性能有限，若选择的插件过多，务必注意CPU性能！"
          echo "云编译建议取消勾选Node.js及其相关插件！"
          echo "主机信息："
          uname -a
          echo -e "\n"
          echo "--------------------------CPU信息--------------------------"
          echo "CPU物理数量:$(cat /proc/cpuinfo| grep "physical id"| sort| uniq| wc -l)"
          echo -e "CPU核心及版本信息：$(cat /proc/cpuinfo | grep name | cut -f2 -d: | uniq -c) \n"
          echo "--------------------------内存信息--------------------------"
          echo "已安装内存详细信息："
          sudo lshw -short -C memory | grep GiB
          echo "--------------------------硬盘信息--------------------------"
          echo -e  "硬盘数量：$(ls /dev/sd* | grep -v [1-9] | wc -l) \n"
          echo "硬盘详情："
          df -Th

      - name: Prepare dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential clang flex bison g++ gawk gcc-multilib g++-multilib gettext git libncurses5-dev libssl-dev python3-setuptools rsync swig unzip zlib1g-dev file wget zstd

          sudo mkdir -p /mnt/workdir
          sudo chown $USER:$GROUPS /mnt/workdir
          echo "WORKING_DIR=/mnt/workdir" >> ${GITHUB_ENV}
          echo "TIMESTAMP=$(date +%s)"    >> ${GITHUB_ENV}

      - name: Download sdk artifacts
        if: ${{ inputs.rebuild == 'false' }}
        uses: robinraju/release-downloader@v1
        with:
          tag: sdk
          fileName: '${{ inputs.tag }}-${{ matrix.target }}.tar.zstd'
        continue-on-error: true

      - name: Check sdk artifacts
        working-directory: ${{ env.WORKING_DIR }}
        run: |
          if [ -f "${GITHUB_WORKSPACE}/${{ inputs.tag }}-${{ matrix.target }}.tar.zstd" ]; then
            echo "BUILD_SDK=false" >> ${GITHUB_ENV}
          else
            echo "BUILD_SDK=true" >> ${GITHUB_ENV}
            git clone --branch ${{ inputs.tag }} --depth 1 https://github.com/openwrt/openwrt.git
          fi

      - name: Restore openwrt feeds
        if: env.BUILD_SDK == 'true'
        working-directory: ${{ env.WORKING_DIR }}/openwrt
        run: |
          ./scripts/feeds update -a
          ./scripts/feeds install -a
          chmod +x ${GITHUB_WORKSPACE}/scripts/update_languages.sh
          ${GITHUB_WORKSPACE}/scripts/update_languages.sh

          cp ${GITHUB_WORKSPACE}/config/${{ matrix.target }} .config
          make defconfig
          make download -j8

      - name: Build openwrt with language support
        if: env.BUILD_SDK == 'true'
        working-directory: ${{ env.WORKING_DIR }}/openwrt
        run: |
          make -j$(nproc) toolchain/install || make -j1 toolchain/install|| make -j1 toolchain/install V=s
          make -j$(nproc) package/golang/compile || make -j1 package/golang/compile|| make -j1 package/golang/compile V=s
          make -j$(nproc) package/rust/compile || make -j1 package/rust/compile|| make -j1 package/rust/compile V=s

      - name: Build env check
        if: ${{ always() && env.BUILD_SDK == 'true' }}
        working-directory: ${{ env.WORKING_DIR }}/openwrt
        run: |
          df -hT

      - name: Pack artifacts
        if: env.BUILD_SDK == 'true'
        working-directory: ${{ env.WORKING_DIR }}
        run: |
          tar --use-compress-program="zstd -19" -cvf ${{ inputs.tag }}-${{ matrix.target }}.tar.zstd openwrt

      - name: Upload sdk artifacts
        if: env.BUILD_SDK == 'true'
        uses: ncipollo/release-action@v1
        with:
          tag: sdk
          body: openwrt sdk with golang and rust support
          allowUpdates: true
          artifacts: "${{ env.WORKING_DIR }}/${{ inputs.tag }}-${{ matrix.target }}.tar.zstd"
