name: build openwrt

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Openwrt Version(v24.10.4)'
        required: false
        default: 'v24.10.4'
      skipCache:
        description: 'Rebuild everything'
        required: false
        default: 'false'

permissions:
  contents: write

env:
  ALL_TARGETS: '["x86_64"]'

jobs:
  prepare:
    runs-on: ubuntu-latest
    outputs:
      targets: ${{ steps.out.outputs.targets}}
      packages: ${{ steps.out.outputs.packages}}
    steps:
      - name: Generate matrix
        id: out
        run: |
          ALL_PACKAGES='["image", "package"]'
          echo "targets=${ALL_TARGETS}"   >> "${GITHUB_OUTPUT}"
          echo "packages=${ALL_PACKAGES}" >> "${GITHUB_OUTPUT}"

  buildSDK:
    name: build-SDK(${{ matrix.target }})
    needs: prepare
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        target: ${{ fromJson(needs.prepare.outputs.targets) }}

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Prepare dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential clang flex bison g++ gawk gcc-multilib g++-multilib gettext git libncurses5-dev libssl-dev python3-setuptools rsync swig unzip zlib1g-dev file wget zstd

          sudo mkdir -p /mnt/workdir
          sudo chown $USER:$GROUPS /mnt/workdir
          echo "WORKING_DIR=/mnt/workdir" >> ${GITHUB_ENV}
          echo "TIMESTAMP=$(date +%s)"    >> ${GITHUB_ENV}

      - name: 检查服务器配置
        run: |
          echo "警告⚠"
          echo "分配的服务器性能有限，若选择的插件过多，务必注意CPU性能！"
          echo "云编译建议取消勾选Node.js及其相关插件！"
          echo "主机信息："
          uname -a
          echo -e "\n"
          echo "--------------------------CPU信息--------------------------"
          echo "CPU物理数量:$(cat /proc/cpuinfo| grep "physical id"| sort| uniq| wc -l)"
          echo -e "CPU核心及版本信息：$(cat /proc/cpuinfo | grep name | cut -f2 -d: | uniq -c) \n"
          echo "--------------------------内存信息--------------------------"
          echo "已安装内存详细信息："
          sudo lshw -short -C memory | grep GiB
          echo "--------------------------硬盘信息--------------------------"
          echo -e  "硬盘数量：$(ls /dev/sd* | grep -v [1-9] | wc -l) \n"
          echo "硬盘详情："
          df -Th

      - name: Restore cached build
        id: cache-restore
        if: ${{ inputs.skipCache == 'false' }}
        uses: actions/cache/restore@v4
        with:
          path: ${{ env.WORKING_DIR }}/openwrt
          key: openwrtsdk-${{ inputs.tag }}-${{ matrix.target }}-${{ env.TIMESTAMP }}
          restore-keys: |
            openwrtsdk-${{ inputs.tag }}-${{ matrix.target }}

      - name: Check cache existence
        id: cache-check
        working-directory: ${{ env.WORKING_DIR }}
        run: |
          if [ -d openwrt ]; then
            echo "CACHE_EXISTS=true" >> ${GITHUB_ENV}
          else
            echo "CACHE_EXISTS=false" >> ${GITHUB_ENV}
            git clone --branch ${{ inputs.tag }} --depth 1 https://github.com/openwrt/openwrt.git
          fi

      - name: Build openwrt SDK
        working-directory: ${{ env.WORKING_DIR }}/openwrt
        run: |
          ./scripts/feeds update -a
          ./scripts/feeds install -a

          # custom building languages
          if [[ "${CACHE_EXISTS}" == "false" ]]; then
            chmod +x ${GITHUB_WORKSPACE}/scripts/update_languages.sh
            ${GITHUB_WORKSPACE}/scripts/update_languages.sh
          fi

          cp ${GITHUB_WORKSPACE}/config/package/${{ matrix.target }} .config
          make defconfig

          BUILD_TARGETS=(
            "tools/install"
            "toolchain/install"
            "target/linux/compile"
            "package/golang/host/compile"
            "package/rust/host/compile"
          )
          for target in "${BUILD_TARGETS[@]}"; do
            make -j$(nproc) "${target}" || make -j1 "${target}" || make -j1 "${target}" V=sc
          done

      - name: Build env check
        if: ${{ always() }}
        working-directory: ${{ env.WORKING_DIR }}/openwrt
        run: |
          df -hT

      - name: Update build cache
        uses: actions/cache/save@v4
        with:
          key: openwrtsdk-${{ inputs.tag }}-${{ matrix.target }}-${{ env.TIMESTAMP }}
          path: ${{ env.WORKING_DIR }}/openwrt

  buildTarget:
    name: build-${{ matrix.package }}(${{ matrix.target }})
    needs:
      - prepare
      - buildSDK
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        target: ${{ fromJson(needs.prepare.outputs.targets) }}
        package: ${{ fromJson(needs.prepare.outputs.packages) }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Prepare dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential clang flex bison g++ gawk gcc-multilib g++-multilib gettext git libncurses5-dev libssl-dev python3-setuptools rsync swig unzip zlib1g-dev file wget zstd

          sudo mkdir -p /mnt/workdir
          sudo chown $USER:$GROUPS /mnt/workdir
          echo "WORKING_DIR=/mnt/workdir" >> ${GITHUB_ENV}
          echo "TIMESTAMP=$(date +%s)"    >> ${GITHUB_ENV}

      - name: Restore cached build
        uses: actions/cache/restore@v4
        with:
          path: ${{ env.WORKING_DIR }}/openwrt
          key: openwrtsdk-always-miss
          restore-keys: |
            openwrtsdk-${{ inputs.tag }}-${{ matrix.target }}

      - name: 检查服务器配置
        run: |
          echo "警告⚠"
          echo "分配的服务器性能有限，若选择的插件过多，务必注意CPU性能！"
          echo "云编译建议取消勾选Node.js及其相关插件！"
          echo "主机信息："
          uname -a
          echo -e "\n"
          echo "--------------------------CPU信息--------------------------"
          echo "CPU物理数量:$(cat /proc/cpuinfo| grep "physical id"| sort| uniq| wc -l)"
          echo -e "CPU核心及版本信息：$(cat /proc/cpuinfo | grep name | cut -f2 -d: | uniq -c) \n"
          echo "--------------------------内存信息--------------------------"
          echo "已安装内存详细信息："
          sudo lshw -short -C memory | grep GiB
          echo "--------------------------硬盘信息--------------------------"
          echo -e  "硬盘数量：$(ls /dev/sd* | grep -v [1-9] | wc -l) \n"
          echo "硬盘详情："
          df -Th

      - name: Build
        working-directory: ${{ env.WORKING_DIR }}/openwrt
        run: |
          cp ${GITHUB_WORKSPACE}/config/${BUILD_PACKAGE}/feeds.conf feeds.conf
          cat feeds.conf.default >> feeds.conf

          ./scripts/feeds update -a
          ./scripts/feeds install -a

          cp ${GITHUB_WORKSPACE}/config/${BUILD_PACKAGE}/${BUILD_TARGET} .config
          make defconfig

          if [[ "${BUILD_PACKAGE}" == "image" ]]; then
            chmod +x ${GITHUB_WORKSPACE}/scripts/diy_settings.sh
            ${GITHUB_WORKSPACE}/scripts/diy_settings.sh
            make -j$(nproc) || make -j1 || make -j1 V=s
          else
            chmod +x ${GITHUB_WORKSPACE}/scripts/patch.sh
            ${GITHUB_WORKSPACE}/scripts/patch.sh "${PWD}"

            PKGS=$(node ${GITHUB_WORKSPACE}/scripts/resolve_packages.js ${GITHUB_WORKSPACE}/config/package/feeds.conf)
            echo "${PKGS}" | jq -r .[] | while read -r pkg; do
              make -j$(nproc) package/${pkg}/install || make package/${pkg}/install V=s
            done
          fi
        env:
          BUILD_TARGET: ${{ matrix.target }}
          BUILD_PACKAGE: ${{ matrix.package }}

      - name: Build env check
        if: ${{ always() }}
        working-directory: ${{ env.WORKING_DIR }}/openwrt
        run: |
          df -hT

      - name: Prepare Artifacts
        working-directory: ${{ env.WORKING_DIR }}
        run: |
          chmod +x ${GITHUB_WORKSPACE}/scripts/${{ matrix.package }}_artifacts.sh
          ${GITHUB_WORKSPACE}/scripts/${{ matrix.package }}_artifacts.sh

          ls -al artifacts