name: build openwrt

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Openwrt Version(v24.10.4)'
        required: false
        default: 'v24.10.4'
      skipCache:
        description: 'Rebuild everything'
        required: false
        default: 'false'

permissions:
  contents: write

env:
  ALL_TARGETS: '["x86_64"]'

jobs:
  prepare:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.out.outputs.matrix }}
    steps:
      - name: Generate matrix4${{ inputs.tag }}
        id: out
        run: |
          node - << 'EOF'
          const fs = require('fs');
          combos = JSON.parse(process.env.ALL_TARGETS).map(t => ({
            target: t,
            job: "SDK"
          }));
          combos.push({target:"x86_64", job:"Matrix"});
          fs.appendFileSync(process.env.GITHUB_OUTPUT, `matrix=${JSON.stringify(combos)}\n`);
          EOF

  buildSDK:
    name: build-${{ matrix.job }}(${{ matrix.target }})
    needs: prepare
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        include: ${{ fromJson(needs.prepare.outputs.matrix) }}
    outputs:
      target:  ${{ steps.build.outputs.target }}
      package: ${{ steps.build.outputs.package }}

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Prepare dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential clang flex bison g++ gawk gcc-multilib g++-multilib gettext git libncurses5-dev libssl-dev python3-setuptools rsync swig unzip zlib1g-dev file wget zstd

          sudo mkdir -p /mnt/workdir
          sudo chown $USER:$GROUPS /mnt/workdir
          echo "WORKING_DIR=/mnt/workdir" >> ${GITHUB_ENV}
          echo "TIMESTAMP=$(date +%s)"    >> ${GITHUB_ENV}

      - name: 检查服务器配置
        run: |
          echo "警告⚠"
          echo "分配的服务器性能有限，若选择的插件过多，务必注意CPU性能！"
          echo "云编译建议取消勾选Node.js及其相关插件！"
          echo "主机信息："
          uname -a
          echo -e "\n"
          echo "--------------------------CPU信息--------------------------"
          echo "CPU物理数量:$(cat /proc/cpuinfo| grep "physical id"| sort| uniq| wc -l)"
          echo -e "CPU核心及版本信息：$(cat /proc/cpuinfo | grep name | cut -f2 -d: | uniq -c) \n"
          echo "--------------------------内存信息--------------------------"
          echo "已安装内存详细信息："
          sudo lshw -short -C memory | grep GiB
          echo "--------------------------硬盘信息--------------------------"
          echo -e  "硬盘数量：$(ls /dev/sd* | grep -v [1-9] | wc -l) \n"
          echo "硬盘详情："
          df -Th

      - name: Restore cached build
        id: cache-restore
        if: inputs.skipCache == 'false' && matrix.job == 'SDK'
        uses: actions/cache/restore@v4
        with:
          path: ${{ env.WORKING_DIR }}/openwrt
          key: openwrtsdk-${{ inputs.tag }}-${{ matrix.target }}-${{ env.TIMESTAMP }}
          restore-keys: |
            openwrtsdk-${{ inputs.tag }}-${{ matrix.target }}

      - name: Check cache existence
        id: cache-check
        working-directory: ${{ env.WORKING_DIR }}
        run: |
          if [ -d openwrt ]; then
            echo "CACHE_EXISTS=true"  >> ${GITHUB_ENV}
          else
            echo "CACHE_EXISTS=false" >> ${GITHUB_ENV}
            git clone --branch ${{ inputs.tag }} --depth 1 https://github.com/openwrt/openwrt.git
          fi

      - name: Build ${{ matrix.job }}
        id: build
        working-directory: ${{ env.WORKING_DIR }}/openwrt
        run: |
          if [[ "${BUILD_JOB}" == "Matrix" ]]; then
            cp ${GITHUB_WORKSPACE}/config/package/feeds.conf feeds.conf
            cat feeds.conf.default >> feeds.conf
            ./scripts/feeds update -a
            ./scripts/feeds install -a
            node ${GITHUB_WORKSPACE}/scripts/resolve_packages.js ${GITHUB_WORKSPACE}/config/package/feeds.conf
          else
            ./scripts/feeds update -a
            ./scripts/feeds install -a

            # custom building languages
            if [[ "${CACHE_EXISTS}" == "false" ]]; then
              chmod +x ${GITHUB_WORKSPACE}/scripts/update_languages.sh
              ${GITHUB_WORKSPACE}/scripts/update_languages.sh
            fi

            cp ${GITHUB_WORKSPACE}/config/package/${BUILD_TARGET} .config
            make defconfig

            BUILD_TARGETS=(
              "toolchain/install"
              "target/linux/compile"
              "package/golang/host/compile"
              "package/rust/host/compile"
            )
            for target in "${BUILD_TARGETS[@]}"; do
              make -j$(nproc) "${target}" || make -j1 "${target}" || make -j1 "${target}" V=sc
            done
          fi
        env:
          BUILD_TARGET: ${{ matrix.target }}
          BUILD_JOB: ${{ matrix.job }}

      - name: Build env check
        if: always()
        run: |
          df -hT

      - name: Update build cache
        if: matrix.job == 'SDK'
        uses: actions/cache/save@v4
        with:
          key: openwrtsdk-${{ inputs.tag }}-${{ matrix.target }}-${{ env.TIMESTAMP }}
          path: ${{ env.WORKING_DIR }}/openwrt

  cleanRelease:
    name: clean-${{ matrix.target }}
    needs: buildSDK
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        target: ${{ fromJson(needs.buildSDK.outputs.target) }}
    steps:
      - name: Clean Packages Repository
        run: |
          if gh release view ${{ inputs.tag }}-${{ matrix.target }} -R ${GITHUB_REPOSITORY} >/dev/null 2>&1; then
            gh release delete ${{ inputs.tag }}-${{ matrix.target }} -R ${GITHUB_REPOSITORY} --cleanup-tag --yes
          fi
        env:
          GH_TOKEN: ${{ github.token }}

  buildTarget:
    name: build-${{ matrix.package != '' && matrix.package || 'image' }}(${{ matrix.target }})
    needs:
      - cleanRelease
      - buildSDK
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        target:  ${{ fromJson(needs.buildSDK.outputs.target) }}
        package: ${{ fromJson(needs.buildSDK.outputs.package) }}
    env:
      BUILD_VERSION: ${{ inputs.tag }}
      BUILD_TARGET: ${{ matrix.target }}
      BUILD_PACKAGE: ${{ matrix.package }}

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Prepare dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential clang flex bison g++ gawk gcc-multilib g++-multilib gettext git libncurses5-dev libssl-dev python3-setuptools rsync swig unzip zlib1g-dev file wget zstd qemu-utils

          sudo mkdir -p /mnt/workdir
          sudo chown $USER:$GROUPS /mnt/workdir
          echo "WORKING_DIR=/mnt/workdir" >> ${GITHUB_ENV}
          echo "TIMESTAMP=$(date +%s)"    >> ${GITHUB_ENV}

      - name: Restore cached build
        uses: actions/cache/restore@v4
        with:
          path: ${{ env.WORKING_DIR }}/openwrt
          key: openwrtsdk-always-miss
          restore-keys: |
            openwrtsdk-${{ inputs.tag }}-${{ matrix.target }}

      - name: 检查服务器配置
        run: |
          echo "警告⚠"
          echo "分配的服务器性能有限，若选择的插件过多，务必注意CPU性能！"
          echo "云编译建议取消勾选Node.js及其相关插件！"
          echo "主机信息："
          uname -a
          echo -e "\n"
          echo "--------------------------CPU信息--------------------------"
          echo "CPU物理数量:$(cat /proc/cpuinfo| grep "physical id"| sort| uniq| wc -l)"
          echo -e "CPU核心及版本信息：$(cat /proc/cpuinfo | grep name | cut -f2 -d: | uniq -c) \n"
          echo "--------------------------内存信息--------------------------"
          echo "已安装内存详细信息："
          sudo lshw -short -C memory | grep GiB
          echo "--------------------------硬盘信息--------------------------"
          echo -e  "硬盘数量：$(ls /dev/sd* | grep -v [1-9] | wc -l) \n"
          echo "硬盘详情："
          df -Th

      - name: Build
        working-directory: ${{ env.WORKING_DIR }}/openwrt
        run: |
          if [[ "${BUILD_PACKAGE}" == "" ]]; then
            cp -v ${GITHUB_WORKSPACE}/config/image/feeds.conf feeds.conf
            cat feeds.conf.default >> feeds.conf
            ./scripts/feeds update -a
            ./scripts/feeds install -a
            cp -v ${GITHUB_WORKSPACE}/config/image/${BUILD_TARGET} .config
            make defconfig
            chmod +x ${GITHUB_WORKSPACE}/scripts/diy_settings.sh
            ${GITHUB_WORKSPACE}/scripts/diy_settings.sh
            make -j$(nproc) || make -j1 || make -j1 V=s
          else
            cp -v ${GITHUB_WORKSPACE}/config/package/feeds.conf feeds.conf
            cat feeds.conf.default >> feeds.conf
            ./scripts/feeds update -a
            ./scripts/feeds install -a
            cp -v ${GITHUB_WORKSPACE}/config/package/${BUILD_TARGET} .config
            make defconfig
            chmod +x ${GITHUB_WORKSPACE}/scripts/patch.sh
            ${GITHUB_WORKSPACE}/scripts/patch.sh "${PWD}"
            make -j$(nproc) package/${BUILD_PACKAGE}/compile || make package/${BUILD_PACKAGE}/compile V=s
          fi

      - name: Build env check
        if: always()
        run: |
          df -hT

      - name: Prepare Artifacts
        working-directory: ${{ env.WORKING_DIR }}
        run: |
          mkdir -p artifacts

          if [[ "${BUILD_PACKAGE}" == "" ]]; then
            chmod +x ${GITHUB_WORKSPACE}/scripts/image_artifacts.sh
            ${GITHUB_WORKSPACE}/scripts/image_artifacts.sh ${BUILD_VERSION}
            echo "ARTIFACTS_RELEASE=image" >> ${GITHUB_ENV}
          else
            chmod +x ${GITHUB_WORKSPACE}/scripts/package_artifacts.sh
            ${GITHUB_WORKSPACE}/scripts/package_artifacts.sh
            echo "ARTIFACTS_RELEASE=${BUILD_VERSION}-${BUILD_TARGET}" >> ${GITHUB_ENV}
          fi

      - name: Upload release
        uses: ncipollo/release-action@v1
        with:
          tag: ${{ env.ARTIFACTS_RELEASE }}
          allowUpdates: true
          removeArtifacts: false
          artifacts: ${{ env.WORKING_DIR}}/artifacts/*
          token: ${{ github.token }}

  MakeRepository:
    name: makeRepo4${{ matrix.target }}
    needs:
      - buildSDK
      - buildTarget
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        target: ${{ fromJson(needs.buildSDK.outputs.target) }}
    steps:
      - name: Make openwrt Packages Repository
        uses: robinraju/release-downloader@v1
        with:
          tag: ${{ inputs.tag }}-${{ matrix.target }}
          fileName: '*'
          out-file-path: ipks_built

      - name: Build usign tool
        run: |
          git clone --depth 1 https://github.com/openwrt/usign.git
          mkdir -p usign/build
          cd usign/build
          cmake ..
          make

      - name: Make repository index
        run: |
          docker run -v $PWD/ipks_built:/working alpine sh -c "
            echo https://dl-cdn.alpinelinux.org/alpine/edge/testing >> /etc/apk/repositories
            apk add opkg-utils
            opkg-make-index /working > /working/Packages
            gzip -k /working/Packages
          "

          mkdir -p artifacts
          if [[ -n "${USIGN_PRIVATE}" && -n "${USIGN_PUBLIC}" ]]; then
            echo ${USIGN_PUBLIC}  | base64 -d > public.key
            echo ${USIGN_PRIVATE} | base64 -d > private.key
            FINGER_PRINT=$(usign/build/usign -F -p public.key)
            cp public.key artifacts/${FINGER_PRINT}
            usign/build/usign -S -m ipks_built/Packages -s private.key
            rm -rf private.key
          fi
          cp ipks_built/Packages* artifacts/
        env:
          USIGN_PUBLIC: ${{ secrets.USIGN_PUBLIC }}
          USIGN_PRIVATE: ${{ secrets.USIGN_PRIVATE }}

      - name: Update repository
        uses: ncipollo/release-action@v1
        with:
          tag: ${{ inputs.tag }}-${{ matrix.target }}
          allowUpdates: true
          artifacts: artifacts/*
